:host {
  display: block;
}

* {
  font-family: Montserrat;
}

button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

input {
  min-height: 20px;
  width: auto;
  border: none;
}

.searchbar-unit {
  display: inline-block;
  border: 1px solid #707070;
  min-width: 400px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
