:host {
  display: block;
}

.rating-stars {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  text-align:center;
  width:5em;
}

.rating-stars input {
  display:none;
}

.rating-stars label {
  color:rgb(233, 233, 233);
  cursor:pointer;
}

.rating-stars :checked ~ label {
  color:#b1ebb1;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label {
  color:#e2f4e2;
}