.artikelcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 155px 0px 155px;
}

.toaster {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}