@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

.container {
  background-color: beige;
  padding: 2px;
  max-width: 400px;
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

h4,
p {
  padding: 5px 10px;
  margin: 0;
}
i {
  font-size: 16px;
}
