.container {
    background-color: beige;
    padding: 5px;
    max-width: 300px;
    display: flex;
  }
  
  h4, p {
    padding: 5px;
    margin: 0;
  }
  .context {
    margin-left: 5px;
  }
  .icon {
    background-color: red;
    max-width: 100px;
  }