:root {
    --app-dark-mode-bg: indigo;
    --app-dark-mode-color: white;
    --app-light-mode-bg: ghostwhite;
    font-family: 'Montserrat', sans-serif;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EDF2ED;
}

body {
 margin: 0;
}

.artikelcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 155px 0px 155px;;
}

.toaster {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}


