:root {
    --app-dark-mode-bg: indigo;
    --app-dark-mode-color: white;
    --app-light-mode-bg: ghostwhite;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EDF2ED;
}

