:host {
  display: block;
}

.slider-container {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.1s;
}

.button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.button.next {
  right: 0;
}

.slide-wrapper {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide-content {
  flex: 0 0 100%;
}
