:host {
  display: block;
}

.slider-container {
	position: relative;
	width: 100%;
	margin: 20px auto 0px auto;
	overflow: hidden;
}

.ul {
	display: flex;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	transition: transform .5s ease-in-out;
}

::slotted() {
	flex: 1 0 auto;
	width: 100vw;
	margin: auto;
	height: 400px;
	background-color: lightgreen;
}

::slotted(:nth-child(even)) {
	background-color: lightblue;
	height: 400px;
}

.control {
	position: absolute;
	z-index: 1;
	top: calc(50% - 32px);
	padding: 20px;
	font-size: 20px;
	line-height: 20px;
	opacity: .5;
}

	.control:hover {
		opacity: 1;
		transition: opacity .5s ease-in-out;
	}

	.control[disabled], [disabled]:hover {
		opacity: .25;
	}

	.control.arrow-forward {
		right: 0;
	}

  .slide-title {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }

  .slide-content {
    margin: 50px auto;
  }

  .dot-container {
    display: flex;
    justify-content: center;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
