:host {
  display: flex;
}

.Pflanzentipps {
  background-color: white;
  height: 500px;
  width: 250px;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: 0px 0px 12px 0px lightgrey;
  float: left;
  align-items: center;
  flex-direction: row;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top center;
}

p {
  font-size: 12px;
}

h3 {
  font-size: 18px
}