

.Pflanzentipps {
  background-color: white;
  height: 500px;
  width: 250px;
  padding: 20px;
  box-shadow: 0px 0px 12px 0px lightgrey;
  margin: 0 28px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top center;
}

p {
  font-size: 12px;
  height: 185px;
}

h3 {
  font-size: 18px
}

h4 {
  vertical-align: bottom;
}