:host {
  display: block;
}

button.default {
  background-color: #EDF2ED;
  border: 0.5px solid #707070;
  color: #505050;
  border-radius: 13px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  padding: 3px 15px 3px 15px;
}

button.white {
  background-color: white;
  border: 0.5px solid #707070;
  color: #505050;
  border-radius: 13px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  padding: 3px 15px 3px 15px;
}
