:host {
  display: block;
  padding: 0;

}

.rating-stars {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
  width: 5em;
}

#rating-stars-filled {
  color: #468f06 !important;
  margin: 5px 0;
}

#rating-stars-empty {
  color: rgb(211, 208, 208) !important;
  margin: 5px 0;
}