.footer_links {
  font-family: Montserrat;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  background-color: #E6E6E6;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #468F06;
}
