:host {
  display: flex;
}

* {
  font-family: Montserrat;
}

h3 {
  color: #468F06;
  font-size: 18px;
}

p {
  font-size: 15px;
}

.toast {
  width: fit-content;
  height: fit-content;
  display: inline;
  padding: 10px 20px 10px 20px;
  background-color: #EDF2ED;
}